
/*.frame {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: whitesmoke;*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/
/*.frame .main_frame {*/
/*    position: relative;*/
/*    width:1440px;*/
/*    height: 1312px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    margin-top: 2px;*/
/*    background: #ecd0a5;*/
/*}*/


/*.main_frame .left_frame {*/
/*    position: relative;*/
/*    width: 305px;*/
/*    height: 1315px;*/
/*    background-color: white;*/

/*}*/

/*.main_frame .midd_frame {*/
/*    position: relative;*/
/*    width: 775px;*/
/*    height: 1254px;*/
/*    margin-left: 30px;*/
/*    margin-right: 27px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    */

/*}*/

/*.main_frame .right_frame {*/
/*    position: relative;*/
/*    width: 108px;*/
/*    height: 1315px;*/
/*    flex-shrink: 0;*/
/*    align-items: center;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    color: red;*/
/*}*/
/*.main_frame .left_1 { !* rasm joylashgan qismi*!*/
/*    position: relative;*/
/*    width: 228px;*/
/*    height: 267px;*/
/*    margin-top: 50px;*/
/*    margin-left: 37px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.main_frame .left_1 .left_1-1 {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    position: relative;*/
/*    width: 156.164px;*/
/*    height: 135.053px;*/
/*    !* margin-left: 36.44px;*/
/*    margin-right: 35.4px; *!*/
/*    margin-bottom: 29.46px;*/
/*}*/


/*.main_frame .marginer {*/
/*    position: relative;*/
/*    width: 220px;*/
/*    height: 1.5px;*/
/*    margin-left: 40px;*/
/*    margin-bottom: 25px;*/
/*    margin-top: 39px;*/
/*    !* background: ;*!*/
/*    border: 1.5px solid #f0f0f6;*/
/*}*/
/*.main_frame .left_2_about { !* about section *!*/
/*    position: relative;*/
/*    display: flex;*/
/*    width: 221px;*/
/*    height: 126px;*/
/*    margin-left: 47px;*/
/*    flex-direction: row;*/

/*}*/



.left-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 228px;
    margin-top: 19px;
    border: 1px solid red;

}

.left_2-1-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 228px;
    margin-top: 19px;
}


.link_href {
    text-decoration: none;
    color: black;
}

.icon {
    position: relative;
    width: 28px;
    height: 26px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    /* Yellow */
    background: #FFB400;
    flex-shrink: 0;
}

.icon-1 {
    position: relative;
    left: 29.17%;
    right: 27.09%;
    margin-top: 5.86px;
}

/*.main_frame .left_frame .left_4 {*/
/*    position: relative;*/
/*    width: 220px;*/
/*    height: 252px;*/
/*    margin-top: 25px;*/
/*    margin-left: 45px;*/
/*    background-color: aqua;*/
/*}*/
/*.main_frame .left_frame .left_5 {*/
/*    position: relative;*/
/*    width: 186px;*/
/*    height: 148px;*/
/*    margin-top: 25px;*/
/*    margin-left: 45px;*/
/*    background-color: aqua;*/
/*}*/


.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #f0f0f6;;
}


.frame .main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    background: #f0f0f6;;
}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

                   /* midd_frame */

.main_frame .midd_frame  {
    position: relative;
    width: 970px;
    height: 1259px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 27px;
    border: 1px solid red;
}

.Background-Image {
    width: 971px;
    height: 454.3px;
    flex-grow: 0;
    padding: 37.9px 37px 14.7px 36.1px;
    background-color: aquamarine;
}
.Job {
    width: 400px;
    height: 116.7px;
    flex-grow: 0;
    margin: 1.9px 336.8px 17.1px 4px;
    font-family: Inter;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #2b2b2b;
    margin-top: 10px;
}
.Text {
    width: 424.4px;
    height: 85.6px;
    flex-grow: 0;
    /*margin: 17.1px 31.1px 12.1px 8.9px;*/
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}
.age_id {
    width: 46.2px;
    height: 24px;
    flex-grow: 0;
    margin: 0 155.7px 1px 0;
    background-color: #ffb400;
    padding: 0 8px 0 5px;
    flex-direction: row;
    position: relative;
    margin-left: 45px;
    line-height: 1.6;
    color: #2b2b2b;
    font-size: 15px;
    text-align: left;

}                           w


/*yoshi 27*/

/*.about_id {*/
/*    width: 85px;*/
/*    height: 24px;*/
/*    flex-grow: 0;*/
/*    margin: 0 117px 0 0;*/
/*    padding: 0 6px 0 5px;*/
/*    background-color: #ffb400;*/
/*    margin-left: 45px;*/
/*    position: relative;*/
/*    flex-direction: row;*/
/*    line-height: 1.6;*/
/*    color: #2b2b2b;*/
/*    font-size: 15px;*/
/*    text-align: left;*/

/*}*/

/*.about_id_2 {*/
/*    width: 85px;*/
/*    height: 24px;*/
/*    flex-grow: 0;*/
/*    margin: 0 85px 0 0;*/
/*    padding: 0 6px 0 5px;*/
/*    background-color: #ffb400;*/
/*    margin-left: 45px;*/
/*    line-height: 1.6;*/
/*    color: #2b2b2b;*/
/*    font-size: 15px;*/
/*    text-align: left;*/

/*}*/

/*.about_id_3 {*/
/*    width: 75px;*/
/*    height: 24px;*/
/*    flex-grow: 0;*/
/*    margin-right: 60px;*/
/*    margin-top: 10px;*/
/*    padding: 0 7px 0 5px;*/
/*    background-color: #ffb400;*/
/*    margin-left: 45px;*/
/*    line-height: 1.6;*/
/*    color: #2b2b2b;*/
/*    font-size: 15px;*/
/*    flex-direction: row;*/
/*    text-align: left;*/

/*}*/



/*!*language qismi *!*/

/*.language {*/
/*    width: 95px;*/
/*    height: 22px;*/
/*    flex-grow: 0;*/
/*    font-family: sans-serif;*/
/*    font-size: 18px;*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*    line-height: 1.24;*/
/*    text-align: left;*/
/*    color: #2b2b2b;*/
/*    margin-left: 23px;*/
/*    margin-bottom: 15px;*/
/*    position: relative;*/
/*    display: flex;*/
/*}*/
/*!*till qismi *!*/
/*.left_4 {*/
/*    flex-direction: column;*/
/*    display: flex;*/
/*    text-align: left;*/
/*}*/
/*.skill_1{*/
/*    width: 49px;*/
/*    height: 24px;*/
/*    flex-grow: 0;*/
/*    font-family: sans-serif;*/
/*    font-size: 15px;*/
/*    font-style: normal;*/
/*    line-height: 1.6;*/
/*    text-align: left;*/
/*    margin-left: 47px;*/
/*    margin-top: 10px;*/
/*    color: #767676;*/
/*    margin-bottom: 15px;*/
/*    position: relative;*/
/*    flex-direction: row;*/
/*}*/

/*span {*/
/*    width: 38px;*/
/*    height: 24px;*/
/*    flex-grow: 0;*/
/*    margin: 0 0 0 133px;*/
/*    font-family: sans-serif;*/
/*    font-size: 15px;*/
/*    font-weight: normal;*/
/*    font-stretch: normal;*/
/*    font-style: normal;*/
/*    line-height: 1.6;*/
/*    letter-spacing: normal;*/
/*    text-align: left;*/
/*    color: #767676;*/
/*    position: relative;*/
/*}*/
/*.percent_1{*/
/*    text-align: left;*/
/*    flex-direction: row;*/
/*    font-style: normal;*/
/*    margin-left: 45px;*/
/*    position: relative;*/
/*}*/

/*.extra_skill{*/
/*    margin-left: 10px;*/
/*    margin-bottom: 20px;*/
/*    flex-direction: row;*/
/*    font-style: normal;*/
/*    position: relative;*/

/*}*/

/*.Icons {*/
/*    position: relative;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    flex-grow: 0;*/
/*    margin: 4px 15px 5px 0;*/
/*    object-fit: contain;*/
/*}*/


/*!*right qismi boshlanishi*!*/

/*.main_frame .right_frame  {*/
/*    position: relative;*/
/*    width: 108px;*/
/*    height: 1315px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    border: 1px solid red;*/
/*}*/



/*.right_id {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    margin: 35px 20px 50px 18px;*/

/*}*/
/*.Contrast {*/
/*    margin-top: 40px;*/
/*}*/


/*.Home {*/
/*    width: 50px;*/
/*    height: 30px;*/
/*    flex-grow: 0;*/
/*    font-family: Inter;*/
/*    font-size: 12px;*/
/*    font-weight: 500;*/
/*    text-align: center;*/
/*    color: #fff;*/
/*    flex-direction: column;*/
/*    margin-top: 200px;*/
/*}*/

/*.Home2 {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    flex-grow: 0;*/
/*    !*margin: 5px 12px 0 13px;*!*/
/*    background-color: #ffb400;*/
/*    margin-top: 5px;*/
/*    border-radius: 50%;*/
/*}*/


/*img.Service {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    flex-grow: 0;*/
/*    margin: 43px 12px 43px 13px;*/
/*    object-fit: contain;*/
/*    margin-left: auto;*/
/*}*/


/*img.Cv {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    flex-grow: 0;*/
/*    margin: 43px 12px 43px 13px;*/
/*    object-fit: contain;*/
/*    margin-left: auto;*/
/*}*/

/*.Portfolio {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    flex-grow: 0;*/
/*    margin: 43px 12px 43px 13px;*/
/*    object-fit: contain;*/
/*    margin-left: auto;*/
/*}*/

/*img.Blog {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    flex-grow: 0;*/
/*    margin: 43px 12px 43px 13px;*/
/*    object-fit: contain;*/
/*    margin-left: auto;*/
/*}*/
/*img.Contact {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    flex-grow: 0;*/
/*    margin: 43px 12px 0 13px;*/
/*    object-fit: contain;*/
/*    margin-left: auto;*/
/*}*/

/*midd teppa qismi */

.background_image {
    width: 971px;
    height: 454.3px;
    flex-grow: 0;
    background-color: yellow;
    position: relative;
    flex-direction: row;
    display: flex;
}.age_id {
     width: 46.2px;
     height: 24px;
     flex-grow: 0;
     margin: 0 155.7px 1px 0;
     background-color: #ffb400;
     padding: 0 8px 0 5px;
     flex-direction: row;
     position: relative;
     margin-left: 45px;
     line-height: 1.6;
     color: #2b2b2b;
     font-size: 15px;
     text-align: left;

 }

/*yoshi 27*/

.about_id {
    width: 85px;
    height: 24px;
    flex-grow: 0;
    margin: 0 117px 0 0;
    padding: 0 6px 0 5px;
    background-color: #ffb400;
    margin-left: 45px;
    position: relative;
    flex-direction: row;
    line-height: 1.6;
    color: #2b2b2b;
    font-size: 15px;
    text-align: left;

}

.about_id_2 {
    width: 85px;
    height: 24px;
    flex-grow: 0;
    margin: 0 85px 0 0;
    padding: 0 6px 0 5px;
    background-color: #ffb400;
    margin-left: 45px;
    line-height: 1.6;
    color: #2b2b2b;
    font-size: 15px;
    text-align: left;

}

.about_id_3 {
    width: 75px;
    height: 24px;
    flex-grow: 0;
    margin-right: 60px;
    margin-top: 10px;
    padding: 0 7px 0 5px;
    background-color: #ffb400;
    margin-left: 45px;
    line-height: 1.6;
    color: #2b2b2b;
    font-size: 15px;
    flex-direction: row;
    text-align: left;

}



/*language qismi */


/*right qismi boshlanishi*/

.main_frame .right_frame  {
    position: relative;
    width: 108px;
    height: 1315px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}



.right_id {
    width: 30px;
    height: 30px;
    margin: 35px 20px 50px 18px;

}
.Contrast {
    margin-top: 40px;
}


.Home {
    width: 50px;
    height: 30px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    flex-direction: column;
    margin-top: 200px;
}

.Home2 {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    /*margin: 5px 12px 0 13px;*/
    background-color: #ffb400;
    margin-top: 5px;
    border-radius: 50%;
}


img.Service {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 43px 12px 43px 13px;
    object-fit: contain;
    margin-left: auto;
}


img.Cv {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 43px 12px 43px 13px;
    object-fit: contain;
    margin-left: auto;
}

.Portfolio {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 43px 12px 43px 13px;
    object-fit: contain;
    margin-left: auto;
}

img.Blog {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 43px 12px 43px 13px;
    object-fit: contain;
    margin-left: auto;
}
img.Contact {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 43px 12px 0 13px;
    object-fit: contain;
    margin-left: auto;
}

/*midd teppa qismi */

.background_image {
    width: 971px;
    height: 454.3px;
    flex-grow: 0;
    background-color: yellow;
    position: relative;
    flex-direction: row;
    display: flex;
}

.Hire Me {
    width: 154.2px;
    height: 49.6px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 22.8px 160.2px 28.2px 4px;
    padding: 0;
    object-fit: contain;

}

img.Your-Image-1 {
    width: 326.1px;
    height: 446.6px;
    flex-grow: 0;
    margin: 19.5px 83.6px 139.9px 17.3px;
    object-fit: contain;
}






.main_frame .right_frame  {
    position: relative;
    width: 108px;
    height: 1315px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}



.right_id {
    width: 30px;
    height: 30px;
    margin: 35px 20px 50px 18px;

}
.Contrast {
    margin-top: 40px;
}


.Home {
    width: 50px;
    height: 30px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    flex-direction: column;
    margin-top: 200px;
}

.Home2 {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    /*margin: 5px 12px 0 13px;*/
    background-color: #ffb400;
    margin-top: 5px;
    border-radius: 50%;
}


img.Service {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 43px 12px 43px 13px;
    object-fit: contain;
    margin-left: auto;
}


img.Cv {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 43px 12px 43px 13px;
    object-fit: contain;
    margin-left: auto;
}

.Portfolio {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 43px 12px 43px 13px;
    object-fit: contain;
    margin-left: auto;
}

img.Blog {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 43px 12px 43px 13px;
    object-fit: contain;
    margin-left: auto;
}
img.Contact {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 43px 12px 0 13px;
    object-fit: contain;
    margin-left: auto;
}
/* left_frame tugadi */

.main_frame  .left_1  {
    position: relative;
    width: 228px;
    height: 267px;
    display: flex;
    margin-top: 50px;
    margin-left: 47px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main_frame .left_1 .left_1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.164px;
    height: 135.053px;
    margin-bottom: 47px;
    margin-left: 82.4px;
    margin-right: 66.44px;
}

.main_frame .marginer {
    width: 220px;
    height: 0px;
    position: relative;
    margin-left: 47px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1.5px solid #f0f0f6;
}


.main_frame .left_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 47px;
    margin-right: 37px;
}

.main_frame .left_frame .left_1-3 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 147.836px;
    height: 24.31px;
    color: #767676;
    /* Paragraph Progress - 15 */
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
}

/*ism*/
.main_frame .left_frame .left_1_2 {
    width: 64px;
    height: 20.8px;
    flex-grow: 0;
    margin: 27px 84.9px 6.2px 79.1px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #2b2b2b;

}

.main_frame .left_frame .left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-left: 47px;
    margin-top: 25px;
    background-color:  #f0f0f6;
}



.main_frame .left_frame .left_4 {
    position: relative;
    width: 222px;
    height: 252px;
    margin-left: 47px;
    margin-top: 45px;
    background-color:  #f0f0f6;
}

.left-icons{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 19px;
    width: 227.99px;
    height: 21.99px;
    border-radius: 50%;
    border: none;
}

.link_href {
    text-decoration: none;
    color: black;
    border-radius: 50%;
}

.icon {
    position: relative;
    width: 28px;
    height: 26px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    /* Yellow */
    background: #FFB400;
    flex-shrink: 0;
}


.icon-1 {
    width: 12.4px;
    height: 8.7px;
    background-color: #2b2b2b;
    position: relative;
    border-radius: 50%;
}

.icon-1 {
    position: relative;
    left: 29.17%;
    right: 27.09%;
    margin-top: 5.86px;
}




/*about*/

.age_id {
    width: 46.2px;
    height: 24px;
    flex-grow: 0;
    margin: 0 155.7px 1px 0;
    background-color: #ffb400;
    padding: 0 8px 0 5px;
    flex-direction: row;
    position: relative;
    margin-left: 45px;
    line-height: 1.6;
    color: #2b2b2b;
    font-size: 15px;
    text-align: left;

}

/*yoshi */


.about_id {
    width: 85px;
    height: 24px;
    flex-grow: 0;
    margin: 0 117px 0 0;
    padding: 0 6px 0 5px;
    background-color: #ffb400;
    margin-left: 10px;
    position: relative;
    flex-direction: row;
    line-height: 1.6;
    color: #2b2b2b;
    font-size: 15px;
    text-align: left;
    font-family: Inter;

}

.about_id_2 {
    width: 85px;
    height: 24px;
    flex-grow: 0;
    margin: 0 85px 0 0;
    padding: 0 6px 0 5px;
    background-color: #ffb400;
    margin-left: 45px;
    line-height: 1.6;
    color: #2b2b2b;
    font-size: 15px;
    text-align: left;

}

.about_id_3 {
    width: 75px;
    height: 24px;
    flex-grow: 0;
    margin-right: 60px;
    margin-top: 10px;
    padding: 0 7px 0 5px;
    background-color: #ffb400;
    margin-left: 45px;
    line-height: 1.6;
    color: #2b2b2b;
    font-size: 15px;
    flex-direction: row;
    text-align: left;

}

/*language qismi */

.language {
    width: 95px;
    height: 22px;
    flex-grow: 0;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.24;
    text-align: left;
    color: #2b2b2b;
    margin-left: 45px;
    position: relative;
}

